.section1{
    background-image: url('/background.jpg');
    background-size: cover;
    background-position: center;
    height: 30vh; 
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.section1 h1{
    font-size:250%;
    padding: 2%;
}

.section1 p{
    font-size: small;
    color:lightgray;
}
.wishlist{
    height: 90vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction:column;
    gap: 20px;
}
.wishlist h1{
    font-size: xx-large;
}
.wishlist p{
    color: rgb(81, 76, 76);
}
.wishlist button{
    height: 40px;
    width: 150px;
    background-color: rgb(48, 45, 45);
    cursor: pointer;
}
.fa{
    color: rgb(178, 171, 171);
}